<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.e_fordoapp">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="UnusedAttribute"
        tools:targetApi="n">
        <activity android:name=".Activiy.OrderCheckoutActivity"></activity>
        <activity android:name=".Activiy.BasketActivity" />
        <activity android:name=".Activiy.OrderListActivity" />
        <activity
            android:name=".Activiy.RequisitionDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".Activiy.ProductInfoActivity"
            android:exported="true" />
        <activity
            android:name=".Activiy.CategoryActivity"
            android:exported="true" />
        <activity
            android:name=".Activiy.CustomerActivity"
            android:exported="true" />
        <activity
            android:name=".Activiy.DashboardActivity"
            android:exported="true" />
        <activity
            android:name=".Activiy.SettingsActivity"
            android:exported="true" />
        <activity
            android:name=".Activiy.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".Activiy.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>